.app-count {
  background-color: rgba(nhsuk-colour("grey-4"), 0.5);
  border-radius: nhsuk-spacing(3);
  display: inline-block;
  min-width: nhsuk-spacing(5);
  padding-left: nhsuk-spacing(2);
  padding-right: nhsuk-spacing(2);
  text-align: center;
  @include nhsuk-font(16);
}
