.nhsuk-phase-banner {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);

    border-bottom: 1px solid;
    border-bottom-color: $nhsuk-border-colour;
}

.nhsuk-phase-banner__content {
    @include nhsuk-font(16);

    @include nhsuk-text-colour;

    display: table;
    margin: 0;
}

.nhsuk-phase-banner__content__tag {
    @include nhsuk-font-size($size: 16);
    margin-right: nhsuk-spacing(3);

    @include nhsuk-media-query($from: tablet) {
        margin-right: nhsuk-spacing(2);
    }
}

.nhsuk-phase-banner__text {
    display: table-cell;
    vertical-align: middle;
}