// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.

$nihr-colour: #193E72;

@import "miro";
@import "nihr-login";
@import "nihr-header-footer";
@import "bpor-header-footer";
@import "jdr-header-footer";
@import "side-nav";
@import "button-menu";
@import "phase-banner";
@import "email";
@import "autocomplete";
@import "summary-card";


.nihr-dashboard {
    max-width: 1200px; // Larger width required for dashboard features e.g. tables etc...
}

// Mobile Specific Styles

.nhsuk-header__navigation {
    background-color: $nihr-colour;
}

.nhsuk-header__menu-list .nhsuk-header__navigation-link[aria-current=true]::before {
    border-color: $nihr-colour;
}

.nhsuk-header__navigation-link::before {
    border-color: white;
}

.hide-on-mobile {
  @include nhsuk-media-query($until: desktop) {
    display: none !important;
  }
}

.show-on-mobile {
  // default: visible everywhere
  display: block;

  @include nhsuk-media-query($from: desktop) {
    display: none !important;
  }
}