<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-volunteer-bpor.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "You’re eligible for the next stage of the study" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a href="#">give your feedback by email</a>.'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {{ panel({
      titleText: "You’re eligible for the next stage of the study",
      text: "A researcher will contact you with the next steps"
    }) }}

    <p>You can take part in the next stage of the study.</p>
    <p>A researcher will contact you soon to explain the next stage of the study. They may ask for some further information to confirm whether you can take part.</p>

    <h2>Check your email</h2>

    <p>We've sent an email to joe.bloggs@gmail.com to let you know:</p>

    <ul>
      <li>how and when you’ll be contacted</li>
      <li>contact details if you have any further questions</li>
      <li>what to do if you no longer want to take part - you can change your mind at any time</li>
    </ul>

    </div>
  </div>
{% endblock %}
