<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-volunteer-bpor.html' %}

<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Check if you can be part of this research" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="#">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1>Check if you can be part of this research</h1>

        <p>
          We need to check it’s safe and appropriate for you to take part in this study.
        </p>

        <p>
          To do this, we’ll ask you a short set of questions. After you’ve answered these, we’ll let you know straight away if you can continue to the next stage of the study. 
        </p>

        <p>We might ask about:</p>
        <ul>
          <li>health conditions you have</li>
          <li>medication you take</li>
          <li>other information relevant to this study</li>
        </ul>

        <p>
          After you’ve answered the questions, we’ll let you know straight away if you can continue to take part. 
        </p>

        {% call details({
          summaryText: "How we handle your data"
        }) %}
          <p>We'll only use your data to check if you can take part in this specific study. If you cannot take part, we'll delete your data immediately.</p>
          <p>We'll only keep your data as long as it's needed for this study. After that, we’ll permanently delete it.</p>
        {% endcall %}

        <form action="start" method="post" novalidate>

        {{ button({
          text: "Start now"
        }) }}

        </form>

      
    
    </div>
  </div>
{% endblock %}
