<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Create a pre-screener for your study" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/researcher/index">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/researcher/create-pre-screener/">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/researcher/manage-pre-screener/">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Create a pre-screener for your study</h1>

      <p>You can use this service to set pre-screening criteria for potential study participants.</p>
      
      <p>You can include or exclude people by:</p>
      
      <ul>
        <li>health condition</li>
        <li>medication</li>
        <li>other pre-screening requirements</li>
      </ul>

      <h2>Before you start</h2>

      <p>We’ll ask for your:</p>
      
      <ul>
        <li>full study name</li>
        <li>study ID</li>
        <li>email address</li>
      </ul>

      {% set insetTextHtml %}
        <p>Our admin team will review your completed pre-screener and contact you to let you know when it can go live.</p>
      {% endset %}

      {{ insetText({
        html: insetTextHtml
      }) }}

      <form action="/researcher/create-pre-screener/index" method="post" novalidate>
      {{ button({
        text: "Start now"
      }) }}
      </form>

    </div>
  </div>
{% endblock %}
