<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Home" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<h1>Confirm request to delete account</h1>

{{ characterCount({
  name: "deleteAccount",
  id: "deleteAccount",
  maxwords: 150,
  label: {
    text: "Enter the reason for deleting your account (optional)"
  }
}) }}

<p>Once your account is deleted, you won't be able to access this service or manage any studies.</p>
<p>You’ll receive an email confirming the account has been deleted.</p>

<form action="/{{folder}}/{{subfolder}}/delete-account" method="post" novalidate>

<div class="nhsuk-button-group">
  {{ button({
    text: "Yes, delete my account",
    classes: "nhsuk-button--warning"
  }) }}

  <a href="/{{folder}}/{{subfolder}}/home" class="nhsuk-link">Cancel</a>
</div>

</form>

    </div>
  </div>
{% endblock %}
