<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Manage pre-screeners" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Manage pre-screeners" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

<h1>Manage pre-screeners</h1>

{% set actionsMenuApproved %}
  {{ buttonMenu({
    items: [
      {
        text: "View report",
        href: "view-report",
        classes: "nhsuk-button--small"
      },
      {
        text: "Volunteer view",
        href: "#",
        classes: "nhsuk-button--small"
      }
    ],
    button: {
      text: "Actions",
      classes: "nhsuk-button--small"
    },
    alignMenu: "right"
  }) }}
{% endset %}

{% set actionsMenuChangesRequested %}
  {{ buttonMenu({
    items: [
      {
        text: "Review changes",
        href: "review-requested-changes",
        classes: "nhsuk-button--small"
      },
      {
        text: "Hidden",
        href: "#",
        classes: "nhsuk-u-visually-hidden",
        attributes: {
          "aria-hidden": "true",
          "tabindex": "-1"
        }
      }
    ],
    button: {
      text: "Actions",
      classes: "nhsuk-button--small"
    },
    alignMenu: "right"
  }) }}
{% endset %}

{% set actionsMenuInReview %}
  {{ buttonMenu({
    items: [
      {
        text: "Volunteer view",
        href: "#",
        classes: "nhsuk-button--small"
      },
      {
        text: "Hidden",
        href: "#",
        classes: "nhsuk-u-visually-hidden",
        attributes: {
          "aria-hidden": "true",
          "tabindex": "-1"
        }
      }
    ],
    button: {
      text: "Actions",
      classes: "nhsuk-button--small"
    },
    alignMenu: "right"
  }) }}
{% endset %}

{{ table({
  responsive: true,
  panel: false,
  firstCellIsHeader: true,
  head: [
    { text: 'Full study name' },
    { text: 'Screener ID' },
    { text: 'Owner' },
    { text: 'Status' },
    { text: 'Actions' }
  ],
  rows: [
    [
      {
        header: 'Full study name',
        text: 'Cognitive therapy in Dementia'
      },
      {
        header: 'Screener ID',
        text: 'DR-333121'
      },
      {
        header: 'Owner',
        text: 'Sofia Martinez'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--green">Approved</strong>'
      },
      {
        header: 'Actions',
        html: actionsMenuApproved
      }
    ],
    [
      {
        header: 'Full study name',
        text: 'The impact of yoga practices on stress reduction in individuals with anxiety'
      },
      {
        header: 'Screener ID',
        text: 'DR-883312'
      },
      {
        header: 'Owner',
        text: 'Sofia Martinez'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--yellow">Changes requested</strong>'
      },
      {
        header: 'Actions',
        html: actionsMenuChangesRequested
      }
    ],
    [
      {
        header: 'Full study name',
        text: 'Exploring the effects of art therapy on memory retention in older adults'
      },
      {
        header: 'Screener ID',
        text: 'DR-847281'
      },
      {
        header: 'Owner',
        text: 'Bill Murphy'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--blue">In review</strong>'
      },
      {
        header: 'Actions',
        html: actionsMenuInReview
      }
    ],
    [
      {
        header: 'Full study name',
        text: 'Investigating the role of music therapy in enhancing cognitive function in seniors'
      },
      {
        header: 'Screener ID',
        text: 'DR-083128'
      },
      {
        header: 'Owner',
        text: 'Sofia Martinez'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--purple">Archived</strong>'
      },
      {
        header: 'Actions',
        html: '<p class="nhsuk-hint">No Actions</p>'
      }
    ],
    [
      {
        header: 'Full study name',
        text: 'Examining the benefits of physical exercise on cognitive decline in Alzheimer’s patients'
      },
      {
        header: 'Screener ID',
        text: 'DR-471021'
      },
      {
        header: 'Owner',
        text: 'Sofia Martinez'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--grey">Draft</strong>'
      },
      {
        header: 'Actions',
        html: '<p class="nhsuk-hint">No Actions</p>'
      }
    ]
  ]
}) }}


<p>Showing 10 of 28 result(s)</p>

{{ pagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: '#',
      current: true
    },
    {
      number: 2,
      href: '#'
    },
    {
      number: 3,
      href: '#'
    }
  ]
}) }}

    </div>
  </div>
{% endblock %}
