<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-out.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1>Forgot password</h1>

<p>If you’ve forgotten your password, enter your email address and we’ll send you a link to reset it.</p>

<form action="/{{folder}}/{{subfolder}}/reset-your-password" method="post" novalidate>
  
{{ passwordInput({
  label: {
    text: "Enter your password"
  },
  id: "password1",
  name: "password1",
  classes: "nhsuk-input--width-20"
}) }}

{{ passwordInput({
  label: {
    text: "Confirm your password"
  },
  id: "password2",
  name: "password2",
  classes: "nhsuk-input--width-20"
}) }}

<div class="nhsuk-button-group">
  {{ button({
    text: "Reset your password"
  }) }}

  <a href="/{{folder}}/{{subfolder}}/researcher-login" class="nhsuk-link">Back to login</a>
</div>

</form>

    </div>
  </div>
{% endblock %}
