<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Manage pre-screeners" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Pre-screener summary report for Cognitive therapy in Dementia" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="#">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<span class="nhsuk-caption-xl">The impact of yoga practices on stress reduction in individuals with anxiety</span>
<h1 class="nhsuk-heading-xl">Review additional questions</h1>

{{ summaryList({
  rows: [
    {
      key: {
        text: "Question 1"
      },
      value: {
        text: "Are you currently pregnant?"
      }
    },
    {
      key: {
        text: "Qualifying answer 1"
      },
      value: {
        text: "No"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: '<strong class="nhsuk-tag nhsuk-tag--green">Approved</strong>'
      }
    }
  ]
}) }}

{{ summaryList({
  rows: [
    {
      key: {
        text: "Question 2"
      },
      value: {
        text: "Are you over the age of 25?"
      }
    },
    {
      key: {
        text: "Qualifying answer 2"
      },
      value: {
        text: "Yes"
      }
    },
    {
      key: {
        text: "Status"
      },
      value: {
        html: '<strong class="nhsuk-tag nhsuk-tag--green">Approved</strong>'
      }
    }
  ]
}) }}

{{ summaryList({
  rows: [
    {
      key: {
        text: "Question 3",
        classes: "nhsuk-form-group--error"
      },
      value: {
        text: "Where do you live?"
      },
      actions: {
        items: [
          {
            href: "review-additional-question-three#reviewAdditionalQuestionThreeText",
            text: "Change",
            visuallyHiddenText: "question 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Qualifying answer 3",
        classes: "nhsuk-form-group--error"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "review-additional-question-three#reviewAdditionalQuestionThreeAnswer",
            text: "Change",
            visuallyHiddenText: "qualifying answer 3"
          }
        ]
      }
    },
    {
      key: {
        text: "Status",
        classes: "nhsuk-form-group--error"
      },
      value: {
        html: '<strong class="nhsuk-tag nhsuk-tag--red">Changes requested</strong>'
      }
    },
    {
      key: {
        text: "Required changes",
        classes: "nhsuk-form-group--error"
      },
      value: {
        html: '<span class="nhsuk-error-message">Your question must support either a "Yes" or "No" answer</span>'
      }
    }
  ]
}) }}



    </div>
  </div>
{% endblock %}
