<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% set layout = "layout.html" %}

{% if data['brand'] == "JDR" %}
  {% set layout = "layout-volunteer-jdr.html" %}
{% elseif data['brand'] == "BPOR" %}
  {% set layout = "layout-volunteer-bpor.html" %}
{% endif %}

{% extends layout %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<form action="/{{folder}}/{{subfolder}}/so-primary-contact-chief-investigator"" method="post" novalidate>

{% if not data['brand'] or data['primaryContactConfirm'] == "Yes" %}
  {% set soPrimaryContactChiefInvestigatorQuestion = "Are you the chief investigator for this study?" %}
{% else %}
  {% set soPrimaryContactChiefInvestigatorQuestion = "Is this person also the chief investigator for this study?" %}
{% endif %}

{% call fieldset({
  legend: {
    text: soPrimaryContactChiefInvestigatorQuestion,
    size: "l",
    isPageHeading: true
  }
}) %}

{% set insetTextHtml %}
<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Title
    </dt>
    <dd class="nhsuk-summary-list__value">
      {% if data['researcherTitle'] %}
        {{ data['researcherTitle'] }}
      {% else %}
        Mrs
      {% endif %}
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      First name
    </dt>
    <dd class="nhsuk-summary-list__value">
      {% if data['researcherFirstName'] %}
        {{ data['researcherFirstName'] }}
      {% else %}
        Jane
      {% endif %}
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Last name
    </dt>
    <dd class="nhsuk-summary-list__value">
      {% if data['researcherLastName'] %}
        {{ data['researcherLastName'] }}
      {% else %}
        Doe
      {% endif %}
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Email address
    </dt>
    <dd class="nhsuk-summary-list__value">
      {% if data['researcherEmailAddress'] %}
        {{ data['researcherEmailAddress'] }}
      {% else %}
        jane.doe@durham.ac.uk
      {% endif %}
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Organisation
    </dt>
    <dd class="nhsuk-summary-list__value">
      {% if data['researcherOrganisationName'] %}
        {{ data['researcherOrganisationName'] }}
      {% elseif data['researcherOrganisation'] %}
        {{ data['researcherOrganisation'] }}
      {% else %}
        University of Durham
      {% endif %}
    </dd>
  </div>

</dl>
{% endset %}

{% if not data['brand'] or data['primaryContactConfirm'] == "Yes" %}

{{ insetText({
  html: insetTextHtml,
  classes: "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-5"
}) }}

{% endif %}

{{ radios({
  name: "soPrimaryContactChiefInvestigator",
  classes: "nhsuk-radios--inline",
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{% endcall %}



<div class="nhsuk-button-group">
  
  {{ button({
    text: "Continue"
  }) }}

</div>

</form>


    </div>
  </div>
{% endblock %}
