<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->
{% set currentPage = "Create pre-screener" %}
{% extends 'layout-researcher-nihr-logged-in.html' %}
{% set pageName = "Set your inclusion and exclusion criteria" %}
{% set containerClasses = "nihr-dashboard" %}
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a href="#">give your feedback by email</a>.'
}) }}

{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-one-quarter hide-on-mobile">
      <nav class="app-side-nav">
         <h2 class="app-side-nav__heading">Dashboard</h2>
         <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
         </ul>
         <h2 class="app-side-nav__heading">Study management</h2>
         <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
         </ul>
         <h2 class="app-side-nav__heading">Support</h2>
         <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
         </ul>
      </nav>
   </div>
   <div class="nhsuk-grid-column-three-quarters">
      {{ backLink({
      "href": "javascript:history.go(-1)",
      "text": "Back",
      classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
      }) }}
      <h1>Check your answers</h1>
      <h2 class="nhsuk-heading-m">
         Study details
      </h2>
      <dl class="nhsuk-summary-list">
         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               Full study name
            </dt>
            <dd class="nhsuk-summary-list__value">
               {% if data['studyName'] %}{{ data['studyName'] }}{% else %}Cognitive therapy in Dementia{% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
               <a class="nhsuk-link" href="create-study-details#studyName">Change<span class="nhsuk-u-visually-hidden"> full study name</span></a>
            </dd>
         </div>
         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               Be Part of Research study ID
            </dt>
            <dd class="nhsuk-summary-list__value">
               {% if data['studyID'] %}{{ data['studyID'] }}{% else %}BPOR001234{% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
               <a class="nhsuk-link" href="create-study-details#studyID">Change<span class="nhsuk-u-visually-hidden"> study ID</span></a>
            </dd>
         </div>
      </dl>
      <h2 class="nhsuk-heading-m">
         Inclusion and exclusion criteria details
      </h2>
      <dl class="nhsuk-summary-list">
         <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
               Criteria selected
            </dt>
            <dd class="nhsuk-summary-list__value">
               {% if data.addhealthConditions %}
               {{ data.addhealthConditions | join('<br>') | safe }}
               <br>
               {% endif %}
               {% if data.addMedications %}
               {{ data.addMedications | join('<br>') | safe }}
               <br>
               {% endif %}
               {% if data.addAdditionalQuestion %}
               {{ data.addAdditionalQuestion | join('<br>') | safe }}
               {% endif %}
            </dd>
            <dd class="nhsuk-summary-list__actions">
               <a class="nhsuk-link" href="create-inclusion-exclusion-criteria#addhealthConditions">Change<span class="nhsuk-u-visually-hidden"> inclusion and exclusion criteria</span></a>
            </dd>
         </div>
      </dl>
      {% if data.addhealthConditions 
      and data.addhealthConditions | length 
      and (
      'Recruit by health condition' in data.addhealthConditions or
      'Exclude by health condition' in data.addhealthConditions
      )
      %}
      <h2 class="nhsuk-heading-m">
         Health condition details
      </h2>
      {% endif %}
      {% if data.addhealthConditions 
      and data.addhealthConditions | length 
      and 'Recruit by health condition' in data.addhealthConditions 
      %}
      <h3 class="nhsuk-heading-s">
         Recruit by health condition
      </h3>
      {% for condition in data.conditions %}
      <div class="nhsuk-summary-card">
         <div class="nhsuk-summary-card__title-wrapper">
            <h2 class="nhsuk-summary-card__title">
               Health condition {{ loop.index }}
            </h2>
            <ul class="nhsuk-summary-card__actions">
               <li class="nhsuk-summary-card__action">
                  <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> health condition {{ loop.index }}</span></a>
               </li>
            </ul>
         </div>
         <div class="nhsuk-summary-card__content">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Health condition
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     {{ condition }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                     <a class="nhsuk-link" href="#">
                     Change<span class="nhsuk-u-visually-hidden"> {{ condition }}</span>
                     </a>
                  </dd>
               </div>
            </dl>
         </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if data.addhealthConditions 
      and data.addhealthConditions | length 
      and 'Exclude by health condition' in data.addhealthConditions 
      %}
      <h3 class="nhsuk-heading-s">
         Exclude by health condition
      </h3>
      {% for conditionsExclude in data.conditionsExclude %}
      <div class="nhsuk-summary-card">
         <div class="nhsuk-summary-card__title-wrapper">
            <h2 class="nhsuk-summary-card__title">
               Health condition {{ loop.index }}
            </h2>
            <ul class="nhsuk-summary-card__actions">
               <li class="nhsuk-summary-card__action">
                  <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> health condition {{ loop.index }}</span></a>
               </li>
            </ul>
         </div>
         <div class="nhsuk-summary-card__content">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Health condition
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     {{ conditionsExclude }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                     <a class="nhsuk-link" href="#">
                     Change<span class="nhsuk-u-visually-hidden"> {{ conditionsExclude }}</span>
                     </a>
                  </dd>
               </div>
            </dl>
         </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if data.addMedications 
      and data.addMedications | length 
      and (
      'Recruit by medication' in data.addMedications or
      'Exclude by medication' in data.addMedications
      )
      %}
      <h2 class="nhsuk-heading-m">
         Medication details
      </h2>
      {% endif %}
      {% if data.addMedications 
      and data.addMedications | length 
      and 'Recruit by medication' in data.addMedications 
      %}
      <h3 class="nhsuk-heading-s">
         Recruit by medication
      </h3>
      {% for medication in data.medications %}
      <div class="nhsuk-summary-card">
         <div class="nhsuk-summary-card__title-wrapper">
            <h2 class="nhsuk-summary-card__title">
               Medication {{ loop.index }}
            </h2>
            <ul class="nhsuk-summary-card__actions">
               <li class="nhsuk-summary-card__action">
                  <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> Medication {{ loop.index }}</span></a>
               </li>
            </ul>
         </div>
         <div class="nhsuk-summary-card__content">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Drug name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     {{ medication.drugName }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                     <a class="nhsuk-link" href="#">
                     Change<span class="nhsuk-u-visually-hidden"> {{ medication.drugName }}</span>
                     </a>
                  </dd>
               </div>
               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Other names
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     {{ medication.friendlyName or "None" }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                     {% if medication.listedMedication == false %}
                     <a class="nhsuk-link" href="/change-medication/{{ loop.index0 }}">
                     Change<span class="nhsuk-u-visually-hidden"> medication {{ loop.index }}</span>
                     </a>
                     {% endif %}
                  </dd>
               </div>
            </dl>
         </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if data.addMedications 
      and data.addMedications | length 
      and 'Exclude by medication' in data.addMedications 
      %}
      <h3 class="nhsuk-heading-s">
         Exclude by medication
      </h3>
      {% for medicationExclude in data.medicationsExclude %}
      <div class="nhsuk-summary-card">
         <div class="nhsuk-summary-card__title-wrapper">
            <h2 class="nhsuk-summary-card__title">
               Medication {{ loop.index }}
            </h2>
            <ul class="nhsuk-summary-card__actions">
               <li class="nhsuk-summary-card__action">
                  <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> Medication {{ loop.index }}</span></a>
               </li>
            </ul>
         </div>
         <div class="nhsuk-summary-card__content">
            <dl class="nhsuk-summary-list">
               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Drug name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     {{ medicationExclude.drugName }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                     <a class="nhsuk-link" href="#">
                     Change<span class="nhsuk-u-visually-hidden"> {{ medicationExclude.drugName }}</span>
                     </a>
                  </dd>
               </div>
               <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                     Other names
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                     {{ medicationExclude.friendlyName or "None" }}
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                     {% if medicationExclude.listedMedication == false %}
                     <a class="nhsuk-link" href="/change-medication/{{ loop.index0 }}">
                     Change<span class="nhsuk-u-visually-hidden"> medication {{ loop.index }}</span>
                     </a>
                     {% endif %}
                     </a>
                  </dd>
               </div>
            </dl>
         </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if data.addAdditionalQuestion %}
      <h2 class="nhsuk-heading-m">
         Additional questions
      </h2>
      {% endif %}
      <dl class="nhsuk-summary-list">
         {% if data['question1Text'] %}
         <div class="nhsuk-summary-card">
            <div class="nhsuk-summary-card__title-wrapper">
               <h2 class="nhsuk-summary-card__title">
                  Question 1
               </h2>
               <ul class="nhsuk-summary-card__actions">
                  <li class="nhsuk-summary-card__action">
                     <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> question one</span></a>
                  </li>
               </ul>
            </div>
            <div class="nhsuk-summary-card__content">
               <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Question
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question1Text'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question one</span>
                        </a>
                     </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Matching answer
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question1Answer'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question one</span>
                        </a>
                     </dd>
                  </div>
               </dl>
            </div>
         </div>
         {% endif %}
         {% if data['question2Text'] %}
         <div class="nhsuk-summary-card">
            <div class="nhsuk-summary-card__title-wrapper">
               <h2 class="nhsuk-summary-card__title">
                  Question 2
               </h2>
               <ul class="nhsuk-summary-card__actions">
                  <li class="nhsuk-summary-card__action">
                     <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> question two</span></a>
                  </li>
               </ul>
            </div>
            <div class="nhsuk-summary-card__content">
               <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Question
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question2Text'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question two</span>
                        </a>
                     </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Matching answer
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question2Answer'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question two</span>
                        </a>
                     </dd>
                  </div>
               </dl>
            </div>
         </div>
         {% endif %}
         {% if data['question3Text'] %}
         <div class="nhsuk-summary-card">
            <div class="nhsuk-summary-card__title-wrapper">
               <h2 class="nhsuk-summary-card__title">
                  Question 3
               </h2>
               <ul class="nhsuk-summary-card__actions">
                  <li class="nhsuk-summary-card__action">
                     <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> question three</span></a>
                  </li>
               </ul>
            </div>
            <div class="nhsuk-summary-card__content">
               <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Question
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question3Text'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question three</span>
                        </a>
                     </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Matching answer
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question3Answer'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question three</span>
                        </a>
                     </dd>
                  </div>
               </dl>
            </div>
         </div>
         {% endif %}
         {% if data['question4Text'] %}
         <div class="nhsuk-summary-card">
            <div class="nhsuk-summary-card__title-wrapper">
               <h2 class="nhsuk-summary-card__title">
                  Question 4
               </h2>
               <ul class="nhsuk-summary-card__actions">
                  <li class="nhsuk-summary-card__action">
                     <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> question four</span></a>
                  </li>
               </ul>
            </div>
            <div class="nhsuk-summary-card__content">
               <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Question
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question4Text'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question four</span>
                        </a>
                     </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Matching answer
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question4Answer'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question four</span>
                        </a>
                     </dd>
                  </div>
               </dl>
            </div>
         </div>
         {% endif %}
         {% if data['question5Text'] %}
         <div class="nhsuk-summary-card">
            <div class="nhsuk-summary-card__title-wrapper">
               <h2 class="nhsuk-summary-card__title">
                  Question 5
               </h2>
               <ul class="nhsuk-summary-card__actions">
                  <li class="nhsuk-summary-card__action">
                     <a class="nhsuk-link" href="#">Remove<span class="nhsuk-u-visually-hidden"> question five</span></a>
                  </li>
               </ul>
            </div>
            <div class="nhsuk-summary-card__content">
               <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Question
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question5Text'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question five</span>
                        </a>
                     </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key">
                        Matching answer
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        {{ data['question5Answer'] }}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="#">
                        Change<span class="nhsuk-u-visually-hidden"> question five</span>
                        </a>
                     </dd>
                  </div>
               </dl>
            </div>
         </div>
         {% endif %}
      </dl>
      <h2 class="nhsuk-heading-m">Now submit your pre-screener</h2>
      <p>You can <a href="create-check-volunteer-view">check the how your pre-screener will appear to volunteers</a>.</p>
      <p>After you submit it, it’ll be sent to our admin team for review.</p>
      {{ button({
      text: "Submit",
      href: "create-submitted"
      }) }}
   </div>
</div>
{% endblock %}