<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Create pre-screener" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Set your inclusion and exclusion criteria" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>
    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<h1>Add additional questions</h1>

<p>You can add up to 5 further questions.</p>

<p>Before you submit these, you should check:</p>

<ul>
  <li>the order they’re in</li>
  <li>the wording, spelling and punctuation - they’ll appear to potential participants exactly as you enter them</li>
  <li>if you want to set one of the questions as a soft fail</li>
</ul>

{% call details({
  summaryText: "What is a soft fail question?"
}) %}
  <p>You can choose to set one of your questions as a soft fail.</p>
  <p>A soft fail question will not exclude any potential participants. If they meet all of the other criteria for your study, their answer will mean they either:</p>
  <ul>
    <li>continue to the next phase</li>
    <li>go onto a waiting list -  you can choose to contact them later if you do not get enough participants </li>
  </ul>
  <p>Any other questions you add will be hard fails.</p>
  <p>You do not need to add a soft fail.</p>
{% endcall %}

{% call details({
  summaryText: "Collecting potential participants' data"
}) %}
  <p>You should only collect data that’s relevant to your study. </p>
  <p>Any questions you ask must comply with the data retention policies for Recruit Registry Volunteers.</p>
{% endcall %}

{{ warningCallout({
  heading: "Important",
  text: "You can only enter questions with a yes or no answer"
}) }}

<form action="/{{folder}}/{{subfolder}}/create-additional-question-one" method="post" novalidate>

{% call fieldset({
  legend: {
    text: "Question 1",
    classes: "nhsuk-fieldset__legend--l",
    isPageHeading: true
  }
}) %}

{{ characterCount({
  name: "question1Text",
  id: "question1Text",
  maxwords: 200,
  label: {
    text: "Enter your question"
  }
}) }}

{{ radios({
  idPrefix: "question1Answer",
  name: "question1Answer",
  classes: "nhsuk-radios--inline",
  fieldset: {
    legend: {
      text: "Which answer should be given to continue to the next phase?",
      size: "m"
    }
  },
  hint: {
    text: "Select the answer needed to continue to the next stage."
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{% if not (
    data.question1SoftFail == "Yes"
    or data.question2SoftFail == "Yes"
    or data.question3SoftFail == "Yes"
    or data.question4SoftFail == "Yes"
    or data.question5SoftFail == "Yes"
) %}

  {{ radios({
    idPrefix: "question1SoftFail",
    name: "question1SoftFail",
    classes: "nhsuk-radios--inline",
    fieldset: {
      legend: {
        text: "Is this a soft fail?",
        size: "m"
      }
    },
    hint: {
      text: "You can only add one soft fail."
    },
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

{% endif %}

{% endcall %}

{{ button({
  text: "Save and continue"
}) }}

</form>

    </div>
  </div>
{% endblock %}