<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Create pre-screener" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Set your inclusion and exclusion criteria" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>
    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<h1>Volunteer view</h1>

<p>You can use this screen to check:</p>
<ul class="nhsuk-u-margin-bottom-8">
   <li>how the questions will appear to volunteers</li>
   <li>the order the questions will appear in</li>
   <li>the ‘matching answer' for each question - this is the answer a volunteer needs to give to be included in the study</li>
</ul>

{% if data.addhealthConditions and ("Recruit by health condition" in data.addhealthConditions or "Exclude by health condition" in data.addhealthConditions) %}

   <table class="nhsuk-table">
   <caption class="nhsuk-table__caption nhsuk-table__caption--m">
      Health condition questions
   </caption>
   <thead class="nhsuk-table__head">
      <tr>
         <th scope="col" class="nhsuk-table__header">
         Question
         </th>
         <th scope="col" class="nhsuk-table__header">
         Matching answer
         </th>
      </tr>
   </thead>
   <tbody class="nhsuk-table__body">

   {% for conditions in data.conditions %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Do you currently have {{ conditions }}?</td>
      <td class="nhsuk-table__cell">Yes</td>
   </tr>
   {% endfor %}

   {% for conditionsExclude in data.conditionsExclude %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Do you currently have {{ conditionsExclude }}?</td>
      <td class="nhsuk-table__cell">No</td>
   </tr>
   {% endfor %}

   </tbody>
   </table>

{% endif %}

{% if data.addMedications and ("Recruit by medication" in data.addMedications or "Exclude by medication" in data.addMedications) %}

   <table class="nhsuk-table">
   <caption class="nhsuk-table__caption nhsuk-table__caption--m">
      Medication questions
   </caption>
   <thead class="nhsuk-table__head">
      <tr>
         <th scope="col" class="nhsuk-table__header">
         Question
         </th>
         <th scope="col" class="nhsuk-table__header">
         Matching answer
         </th>
      </tr>
   </thead>
   <tbody class="nhsuk-table__body">

   {% for medications in data.medications %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Do you currently take {{ medications }}?</td>
      <td class="nhsuk-table__cell">Yes</td>
   </tr>
   {% endfor %}

   {% for medicationsExclude in data.medicationsExclude %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">Do you currently take {{ medicationsExclude }}?</td>
      <td class="nhsuk-table__cell">No</td>
   </tr>
   {% endfor %}

   </tbody>
   </table>

{% endif %}

{% if data['addAdditionalQuestion'] %}

   <table class="nhsuk-table">
   <caption class="nhsuk-table__caption nhsuk-table__caption--m">
      Additional questions
   </caption>
   <thead class="nhsuk-table__head">
      <tr>
         <th scope="col" class="nhsuk-table__header">
         Question
         </th>
         <th scope="col" class="nhsuk-table__header">
         Matching answer
         </th>
      </tr>
   </thead>
   <tbody class="nhsuk-table__body">

   {% if data['question1Text'] %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ data['question1Text'] }}</td>
      <td class="nhsuk-table__cell">{{ data['question1Answer'] }}</td>
   </tr>
   {% endif %}

   {% if data['question2Text'] %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ data['question2Text'] }}</td>
      <td class="nhsuk-table__cell">{{ data['question2Answer'] }}</td>
   </tr>
   {% endif %}

   {% if data['question3Text'] %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ data['question3Text'] }}</td>
      <td class="nhsuk-table__cell">{{ data['question3Answer'] }}</td>
   </tr>
   {% endif %}

   {% if data['question4Text'] %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ data['question4Text'] }}</td>
      <td class="nhsuk-table__cell">{{ data['question4Answer'] }}</td>
   </tr>
   {% endif %}

   {% if data['question5Text'] %}
   <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">{{ data['question5Text'] }}</td>
      <td class="nhsuk-table__cell">{{ data['question5Answer'] }}</td>
   </tr>
   {% endif %}

   </tbody>
   </table>


{% endif %}

  {{ button({
    text: "Researcher view",
    classes: "nhsuk-button--secondary",
    href: "create-check-answers"
  }) }}

    </div>
  </div>
{% endblock %}