<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Create pre-screener" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Enter your study information" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a href="#">give your feedback by email</a>.'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="create-start">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="manage-start">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<span class="nhsuk-caption-xl">{% if data['studyName'] %}{{ data['studyName'] | truncateWords(150) }}{% else %}Study name{% endif %}</span>
<h1 class="nhsuk-heading-xl">Create pre-screener</h1>


<ul class="nhsuk-task-list">
   <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
      <div class="nhsuk-task-list__name-and-hint">
         <a class="nhsuk-link nhsuk-task-list__link" href="create-study-details" aria-describedby="task-list-1-status">
         Study information
         </a>
      </div>
      <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="task-list-1-status">
         Completed
      </div>
   </li>
   <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
      <div class="nhsuk-task-list__name-and-hint">
         <a class="nhsuk-link nhsuk-task-list__link" href="create-inclusion-exclusion-criteria" aria-describedby="task-list-2-status">
         Inclusion and exclusion criteria
         </a>
      </div>
      <div class="nhsuk-task-list__status nhsuk-task-list__status--completed" id="task-list-2-status">
         Completed
      </div>
   </li>
   <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
      <div class="nhsuk-task-list__name-and-hint">
         <a class="nhsuk-link nhsuk-task-list__link" href="create-recruit-health-condition" aria-describedby="task-list-3-hint task-list-3-status">
         Health conditions
         </a>
         <div id="task-list-3-hint" class="nhsuk-task-list__hint">
            Recruit or exclude by health conditions
         </div>
      </div>
      <div class="nhsuk-task-list__status" id="task-list-3-status">
         <strong class="nhsuk-tag nhsuk-tag--blue">
         Incomplete
         </strong>
      </div>
   </li>
   <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
      <div class="nhsuk-task-list__name-and-hint">
         <a class="nhsuk-link nhsuk-task-list__link" href="create-recruit-medication" aria-describedby="task-list-4-hint task-list-4-status">
         Medications
         </a>
         <div id="task-list-4-hint" class="nhsuk-task-list__hint">
            Recruit or exclude by medications
         </div>
      </div>
      <div class="nhsuk-task-list__status" id="task-list-4-status">
         <strong class="nhsuk-tag nhsuk-tag--blue">
         Incomplete
         </strong>
      </div>
   </li>
   <li class="nhsuk-task-list__item nhsuk-task-list__item--with-link">
      <div class="nhsuk-task-list__name-and-hint">
         <a class="nhsuk-link nhsuk-task-list__link" href="create-additional-question-one" aria-describedby="task-list-5-hint task-list-5-status">
         Additional questions
         </a>
         <div id="task-list-5-hint" class="nhsuk-task-list__hint">
            Additional questions for your pre-screener
         </div>
      </div>
      <div class="nhsuk-task-list__status" id="task-list-5-status">
         <strong class="nhsuk-tag nhsuk-tag--blue">
         Incomplete
         </strong>
      </div>
   </li>
</ul>

    </div>
  </div>
{% endblock %}
