<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-out.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back"
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1>Confirm your email</h1>

<p>You’ll need to verify your email address before continuing.</p>

{% set emailAddress = data['researcherEmailAddress'] or "Jane.Doe@birmingham.ac.uk" %}

<p>We’ve sent an email to <strong>{{ emailAddress }}</strong></p>

<p>You need to open the link in the email to confirm your email address.</p>

{% call details({
  summaryText: "Not received an email?"
}) %}
  <p>Emails sometimes take a few minutes to arrive. If you do not receive the email within 30 minutes, you can <a href="verify-your-email-resend">request a new one</a>.</p>
{% endcall %}

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
  setTimeout(function () {
    window.location.href = "VERIFY-email";
  }, 10000); // 10,000 milliseconds = 10 seconds
</script>
{% endblock %}