{# {% from "govuk/macros/attributes.njk" import nhsukAttributes %} #}
{% from "nhsuk/macros/attributes.njk" import nhsukAttributes %}

<div class="nhsuk-form-group"
     data-module="searchable-checkboxes"
     data-tags-id="{{ params.id }}-tags">

  {% if params.fieldset %}
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--{{ params.fieldset.legend.size | default('m') }}">
      {{ params.fieldset.legend.text }}
    </legend>
  {% endif %}

  <!-- Search (progressive enhancement: JS only) -->
  <div class="js-only">
    <input
      class="nhsuk-input nhsuk-u-margin-bottom-3"
      id="{{ params.id }}-search"
      type="text">
  </div>

  <!-- Checkbox list -->
  <div class="nhsuk-checkboxes scrollable-list {{ params.classes | default('') }}"
       id="{{ params.id }}-list"
       data-js-hidden="true">

    {% for item in params.items %}
    <div class="nhsuk-checkboxes__item searchable-item"
         data-label="{{ item.text | lower }}">

      <input
        class="nhsuk-checkboxes__input"
        id="{{ params.id }}-{{ loop.index }}"
        name="{{ params.name }}"
        type="checkbox"
        value="{{ item.value }}"
        {% if item.checked %}checked{% endif %}>

      <label class="nhsuk-label nhsuk-checkboxes__label"
             for="{{ params.id }}-{{ loop.index }}">
        {{ item.text }}
      </label>
    </div>
    {% endfor %}

  </div>

  <!-- Selected tags (JS only) -->
  <div class="nhsuk-u-margin-top-4 selected-medication-container js-only">
    <strong>
      {{ params.selectedLabel | default("Selected") }}
      (<span id="{{ params.id }}-tags-count">0</span>)

    </strong>

    <ul class="nhsuk-list" id="{{ params.id }}-tags"></ul>
  </div>

  {% if params.fieldset %}
  </fieldset>
  {% endif %}

</div>