<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-researcher-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Set your inclusion and exclusion criteria" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/researcher/v1/">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Study management</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="/researcher/v1/create-pre-screener/">Create pre-screener</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="/researcher/v1/manage-pre-screener/">Manage pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Help</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<form action="recruit-health-condition" method="post" novalidate>

{{ fieldset({
  legend: {
    text: "Recruit by health condition",
    classes: "nhsuk-fieldset__legend--xl",
    isPageHeading: true
  }
}) }}

<p>Add one or more health conditions to your inclusion criteria.</p>

<label class="nhsuk-label nhsuk-label--m" for="myAutocomplete">Condition</label>

{{ hint({
  html: '<p>Start typing the name of the condition you’d like to add. The conditions in our database follow UK naming standards.</p>'
}) }}

<div id="my-autocomplete-container" class="nhsuk-input--width-20 nhsuk-u-margin-bottom-5"></div>

{% call details({
  summaryText: "If a condition is not listed"
}) %}

  {{ input({
    label: {
      text: "Non-listed condition",
      classes: "nhsuk-label--m"
    },
      hint: {
      html: "<p>Enter the name of one or more conditions that are not listed in our database. Check each condition before you submit them - they’ll appear to potential participants exactly as you’ve entered them.</p>"
    },
    id: "nonListedCondition",
    name: "nonListedCondition",
    classes: "nhsuk-input--width-20"
  }) }}

  {{ button({
    text: "Add non-listed condition",
    classes: "nhsuk-button--secondary"
  }) }}

{% endcall %}

{{ button({
  text: "Save and continue"
}) }}

</form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/js/health-conditions.js"></script>
<script type="text/javascript">
  function customSuggest (query, syncResults) {
    syncResults(query
      ? health_conditions.filter(function (result) {
          var resultContains = result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1
          var endonymContains = result.endonym.toLowerCase().indexOf(query.toLowerCase()) !== -1
          return resultContains || endonymContains
        })
      : []
    )
  }

  function inputValueTemplate (result) {
    return result && result.name
  }

  function suggestionTemplate (result) {
    return result && result.name
  }

  element = document.querySelector('#my-autocomplete-container')
  id = 'myAutocomplete'
  accessibleAutocomplete({
    element: element,
    id: id,
    source: customSuggest,
    templates: {
      inputValue: inputValueTemplate,
      suggestion: suggestionTemplate
    }
  })


</script>
{% endblock %}