<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Manage accounts" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-admin-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Manage accounts" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Manage accounts</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="account-requests">Review account requests</a></li>
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="manage-accounts">Manage accounts</a></li>
            <!-- <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-admin-accounts">Create administrator accounts</a></li> -->
        </ul>
        <h2 class="app-side-nav__heading">Manage studies</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="review-pending-pre-screeners">Review pending pre-screeners</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="view-pre-screeners">View pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="mailto:bepartofresearch@nihr.ac.uk">Email us</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{% set deleteResearcherAccount %}
  <h3 class="nhsuk-notification-banner__heading">
    Account deleted
  </h3>
  <p>We've emailed the researcher to let them know.</p>
{% endset %}

{{ notificationBanner({
  html: deleteResearcherAccount,
  type: "success"
}) }}

<h1>Manage accounts</h1>

{{ button({
  text: "Create administrator account",
  href: "create-admin-accounts",
  classes: "nhsuk-button--secondary"
}) }}

{{ table({
  responsive: true,
  panel: false,
  head: [
    { text: 'Name' },
    { text: 'Email' },
    { text: 'Organisation' },
    { text: 'Date submitted' },
    { text: 'Role' },
    { text: 'Action' }
  ],
  rows: [
    [
      { header: 'Name', text: ((data['studyAdminFirstName'] or 'Daniel') ~ ' ' ~ (data['studyAdminLastName'] or 'Mercer')) },
      { header: 'Email', text: 'daniel.mercer@nihr.ac.uk' },
      { header: 'Organisation', text: data['studyAdminOrganisationName'] if data['studyAdminOrganisation'] == 'Other' else (data['studyAdminOrganisation'] or 'NIHR')},
      { header: 'Date submitted', text: '3 February 2026' },
      { header: 'Role', html: data['studyAdminRole'] or 'Study administrator' },
      { header: 'Actions', html: '<p><a href="edit-study-admin-account">Update account</a></p>' }
    ],
    [
      { header: 'Name', text: ((data['systemAdminFirstName'] or 'Sofia') ~ ' ' ~ (data['systemAdminLastName'] or 'Petrov')) },
      { header: 'Email', text: 'sofia.petrov@nihr.ac.uk' },
      { header: 'Organisation', text: data['systemAdminOrganisationName'] if data['systemAdminOrganisation'] == 'Other' else (data['systemAdminOrganisation'] or 'NIHR')},
      { header: 'Date submitted', text: '2 February 2026' },
      { header: 'Role', html: data['systemAdminRole'] or 'System administrator' },
      { header: 'Actions', html: '<p><a href="edit-system-admin-account">Update account</a></p>' }
    ]
  ]
}) }}

<p>Showing 2 of 2 result(s)</p>

    </div>
  </div>
{% endblock %}
