<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Manage accounts" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-admin-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Manage accounts" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="#">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Manage accounts</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="account-requests">Review account requests</a></li>
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="manage-accounts">Manage accounts</a></li>
            <!-- <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-admin-accounts">Create administrator accounts</a></li> -->
        </ul>
        <h2 class="app-side-nav__heading">Manage studies</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="review-pending-pre-screeners">Review pending pre-screeners</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="view-pre-screeners">View pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="mailto:bepartofresearch@nihr.ac.uk">Email us</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<h1>Researcher account details</h1>

{{ summaryList({
  rows: [
    {
      key: { text: "Title" },
      value: { text: data['researcherTitle'] or "Mrs" },
      actions: {
        items: [
          {
            href: "/admin/v1/edit-researcher-account-update-profile#researcherTitle",
            text: "Change",
            visuallyHiddenText: "title"
          }
        ]
      }
    },
    {
      key: { text: "First name" },
      value: { text: data['researcherFirstName'] or "Amelia" },
      actions: {
        items: [
          {
            href: "/admin/v1/edit-researcher-account-update-profile#researcherFirstName",
            text: "Change",
            visuallyHiddenText: "first name"
          }
        ]
      }
    },
    {
      key: { text: "Last name" },
      value: { text: data['researcherLastName'] or "Hart" },
      actions: {
        items: [
          {
            href: "/admin/v1/edit-researcher-account-update-profile#researcherLastName",
            text: "Change",
            visuallyHiddenText: "last name"
          }
        ]
      }
    },
    {
      key: { text: "Email address" },
      value: { text: data['researcherEmail'] or "amelia.hart@nhs.net" }
    },
    {
      key: { text: "Organisation" },
      value: { text: data['researcherOrganisationName'] if data['researcherOrganisation'] == 'Other' else (data['researcherOrganisation'] or "NHS Trust") },
      actions: {
        items: [
          {
            href: "/admin/v1/edit-researcher-account-update-profile#researcherRole",
            text: "Change",
            visuallyHiddenText: "organisation"
          }
        ]
      }
    },
    {
      key: { text: "Role" },
      value: { text: data['researcherRole'] or "Researcher" }
    }
  ]
}) }}

{{ button({
  text: "Delete account",
  classes: "nhsuk-button--warning",
  href: "delete-researcher-account"
}) }}

    </div>
  </div>
{% endblock %}
