<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Manage accounts" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-admin-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Manage accounts" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Manage accounts</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="account-requests">Review account requests</a></li>
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="manage-accounts">Manage accounts</a></li>
            <!-- <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-admin-accounts">Create administrator accounts</a></li> -->
        </ul>
        <h2 class="app-side-nav__heading">Manage studies</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="review-pending-pre-screeners">Review pending pre-screeners</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="view-pre-screeners">View pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="mailto:bepartofresearch@nihr.ac.uk">Email us</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<h1>Update researcher account</h1>

<form action="/{{folder}}/{{subfolder}}/edit-researcher-account-update-profile" method="post" novalidate>

{% set previousTitle = data.researcherTitle or "Mrs" %}

{% set organisationHtml %}
  {{ input({
    id: "researcherOrganisationName",
    name: "researcherOrganisationName",
    classes: "nhsuk-input--width-20",
    label: {
      text: "Organisation name"
    },
    value: data.researcherOrganisation == 'Other' and data.researcherOrganisationName or ''
  }) }}
{% endset -%}

{{ select({
  label: {
    text: "Title"
  },
  id: "researcherTitle",
  name: "researcherTitle",
  items: [
    { value: "Mr", text: "Mr", selected: previousTitle == "Mr" },
    { value: "Mrs", text: "Mrs", selected: previousTitle == "Mrs" },
    { value: "Ms", text: "Ms", selected: previousTitle == "Ms" },
    { value: "Miss", text: "Miss", selected: previousTitle == "Miss" },
    { value: "Mx", text: "Mx", selected: previousTitle == "Mx" },
    { value: "Dr", text: "Dr", selected: previousTitle == "Dr" },
    { value: "Prof", text: "Prof", selected: previousTitle == "Prof" },
    { value: "Sir", text: "Sir", selected: previousTitle == "Sir" },
    { value: "Dame", text: "Dame", selected: previousTitle == "Dame" },
    { value: "Lady", text: "Lady", selected: previousTitle == "Lady" },
    { value: "Lord", text: "Lord", selected: previousTitle == "Lord" }
  ]
}) }}

{{ input({
  id: "researcherFirstName",
  name: "researcherFirstName",
  classes: "nhsuk-input--width-20",
  value: data.researcherFirstName or "Amelia",
  label: { text: "First name" }
}) }}

{{ input({
  id: "researcherLastName",
  name: "researcherLastName",
  classes: "nhsuk-input--width-20",
  value: data.researcherLastName or "Hart",
  label: { text: "Last name" }
}) }}

<p class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Email address</p>
<p>{{ data.researcherEmail or "amelia.hart@nhs.net" }}</p>

<label class="nhsuk-label" for="myAutocomplete">Organisation name</label>

<!--
<div class="nhsuk-hint">
  Start typing your organisation name
</div>
-->

<div id="my-autocomplete-container" class="nhsuk-input--width-20 nhsuk-u-margin-bottom-5"></div>

{% call details({
  summaryText: "The organisation is not listed"
}) %}
  <p>If the organisation is not listed, enter the name of the organisation.</p>

  <div class="nhsuk-form-group">
    <label class="nhsuk-label" for="researcherOrganisationName">
      Organisation name
    </label>
    <input class="nhsuk-input" id="researcherOrganisationName" name="researcherOrganisationName" type="text">
  </div>

{% endcall %}

<p class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Role</p>
<p>{{ data.researcherRole or "Researcher" }}</p>

<div class="nhsuk-button-group">
  {{ button({ text: "Confirm" }) }}
  <a href="/{{folder}}/{{subfolder}}/manage-accounts" class="nhsuk-link">Cancel</a>
</div>

</form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script type="module">
  import accessibleAutocomplete from '/assets/javascript/accessible-autocomplete.min.js'
  import { organisation_names } from '/assets/javascript/organisation_names.js'

  function customSuggest (query, syncResults) {
    syncResults(
      query
        ? organisation_names.filter(result =>
            result.name.toLowerCase().includes(query.toLowerCase()) ||
            result.endonym.toLowerCase().includes(query.toLowerCase())
          )
        : []
    )
  }

  function inputValueTemplate (result) {
    return result && result.name
  }

  function suggestionTemplate (result) {
    return result && result.name
  }

  const element = document.querySelector('#my-autocomplete-container')

  accessibleAutocomplete({
    element: element,
    id: 'researcherOrganisation',
    name: 'researcherOrganisation',
    source: customSuggest,
    placeholder: 'Search for the organisation',
    templates: {
      inputValue: inputValueTemplate,
      suggestion: suggestionTemplate
    }
  })
</script>
{% endblock %}