<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-admin-nihr-logged-out.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1>NIHR administrator sign in</h1>

<p>Sign in with your NIHR Google ID to access the researcher management dashboard.</p>

<form action="/{{folder}}/{{subfolder}}/index" method="post" novalidate>

{{ button({
  text: "Sign in"
}) }}

{{ buttonMenu({
  items: [
    {
      text: "Copy link",
      href: "#",
      classes: "nhsuk-button--small"
    },
    {
      text: "View report",
      href: "#",
      classes: "nhsuk-button--small"
    },
    {
      text: "Volunteer view",
      href: "#",
      classes: "nhsuk-button--small"
    }
  ],
  button: {
    text: "Actions",
    classes: "nhsuk-button--small"
  },
  alignMenu: "right"
}) }}

</form>

<p>Only authorised NIHR staff can access this area.</p>

    </div>
  </div>
{% endblock %}
