<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "Home" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-admin-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="https://bepartofresearch.nihr.ac.uk/get-in-touch/">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Manage accounts</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="account-requests">Review account requests</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="manage-accounts">Manage accounts</a></li>
            <!-- <li class="app-side-nav__item"><a class="app-side-nav__link" href="create-admin-accounts">Create administrator accounts</a></li> -->
        </ul>
        <h2 class="app-side-nav__heading">Manage studies</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="review-pending-pre-screeners">Review pending pre-screeners</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="view-pre-screeners">View pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="mailto:bepartofresearch-volunteerservice@nihr.ac.uk">Email us</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{{ backLink({
    "href": "javascript:history.go(-1)",
    "text": "Back",
    classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5"
}) }}

<h1>Update your details</h1>

<form action="/{{folder}}/{{subfolder}}/update-profile" method="post" novalidate>

{% set previousTitle = data.adminTitle or "Mr" %}

{% set organisationHtml %}
  {{ input({
    id: "adminOrganisationName",
    name: "adminOrganisationName",
    classes: "nhsuk-input--width-20",
    label: {
      text: "Organisation name"
    }
  }) }}
{% endset -%}

{{ select({
  label: {
    text: "Title"
  },
  id: "adminTitle",
  name: "adminTitle",
  items: [
    {
      value: "Select title",
      text: "Select title",
      selected: previousTitle == "Select title"
    },
    {
      value: "Mr",
      text: "Mr",
      selected: previousTitle == "Mr"
    },
    {
      value: "Mrs",
      text: "Mrs",
      selected: previousTitle == "Mrs"
    },
    {
      value: "Miss",
      text: "Miss",
      selected: previousTitle == "Miss"
    },
    {
      value: "Mx",
      text: "Mx",
      selected: previousTitle == "Mx"
    },
    {
      value: "Dr",
      text: "Dr",
      selected: previousTitle == "Dr"
    },
    {
      value: "Prof",
      text: "Prof",
      selected: previousTitle == "Prof"
    },
    {
      value: "Other",
      text: "Other",
      selected: previousTitle == "Other"
    },
    {
      value: "Prefer not to say",
      text: "Prefer not to say",
      selected: previousTitle == "Prefer not to say"
    }
  ]
}) }}

{{ input({
  id: "adminFirstName",
  name: "adminFirstName",
  classes: "nhsuk-input--width-20",
  value: data.adminFirstName or "Joe",
  label: {
    text: "First name"
  }
}) }}

{{ input({
  id: "adminLastName",
  name: "adminLastName",
  classes: "nhsuk-input--width-20",
  value: data.adminLastName or "Bloggs",
  label: {
    text: "Last name"
  }
}) }}

<p class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Email address</p>
<p>Joe.Bloggs@nihr.ac.uk</p>

<!--
{{ radios({
  idPrefix: "adminOrganisation",
  name: "adminOrganisation",
  fieldset: {
    legend: {
      text: "Organisation",
      size: "s"
    }
  },
  classes: "nhsuk-radios--small",
  items: [
    {
      value: "NIHR",
      text: "NIHR",
      checked: (data['adminOrganisation'] | default('NIHR')) == "NIHR"
    },
    {
      value: "NHS Trust",
      text: "NHS Trust",
      checked: data['adminOrganisation'] == "NHS Trust"
    },
    {
      value: "University",
      text: "University",
      checked: data['adminOrganisation'] == "University"
    },
    {
      value: "Research institute",
      text: "Research institute",
      checked: data['adminOrganisation'] == "Research institute"
    },
    {
      value: "Other",
      text: "Other",
      checked: data['adminOrganisation'] == "Other",
      conditional: {
        html: organisationHtml
      }
    }
  ]
}) }}
-->

<p class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Organisation</p>
<p>NIHR</p>

{{ select({
  label: {
    text: "Role"
  },
  id: "adminRole",
  name: "adminRole",
  value: data['adminRole'] | default('System administrator'),
  items: [
    {
      value: "Select role",
      text: "Select role"
    },
    {
      value: "System administrator",
      text: "System administrator"
    },
    {
      value: "Study administrator",
      text: "Study administrator"
    }
  ]
}) }}

<!--
<p class="nhsuk-heading-xs nhsuk-u-margin-bottom-1">Role</p>
<p>Study administrator</p>
-->

{{ warningCallout({
  heading: "Confirming your updates",
  html: "<p>You can continue using Recruit registry volunteers as normal after you update your name or title.</p><p>If you update your role, we'll log you out to confirm this change. You'll need to log back in to continue.</p>",
  classes: "nhsuk-u-margin-top-9"
}) }}

<div class="nhsuk-button-group">
  {{ button({
    text: "Confirm"
  }) }}

  <a href="/{{folder}}/{{subfolder}}/home" class="nhsuk-link">Cancel</a>
</div>

</form>

    </div>
  </div>
{% endblock %}
