<!-- USE THE currentPage VARIABLE TO SHOW THE SELECTED STATE ON MOBILE DEVICES -->

{% set currentPage = "View pre-screeners" %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout-admin-nihr-logged-in.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "View pre-screeners" %}

{% set containerClasses = "nihr-dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}

{{ nhsukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service - your <a target="_blank" href="#">feedback<span class="nhsuk-u-visually-hidden"> (opens in a new tab)</span></a> will help us to improve it'
}) }}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter hide-on-mobile">

      <!-- Use "app-side-nav__item--current" class on <li> for selected state -->

      <nav class="app-side-nav">
        <h2 class="app-side-nav__heading">Dashboard</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="home">Home</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Manage accounts</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="account-requests">Review account requests</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Manage accounts</a></li>
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="#">Create administrator accounts</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Manage studies</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="review-pending-pre-screeners">Review pending pre-screeners</a></li>
            <li class="app-side-nav__item app-side-nav__item--current"><a class="app-side-nav__link" href="view-pre-screeners">View pre-screeners</a></li>
        </ul>
        <h2 class="app-side-nav__heading">Support</h2>
        <ul class="nhsuk-list app-side-nav__list">
            <li class="app-side-nav__item"><a class="app-side-nav__link" href="mailto:bepartofresearch@nihr.ac.uk">Email us</a></li>
        </ul>
      </nav>

    </div>
    <div class="nhsuk-grid-column-three-quarters">

{% set studyName = data['study-name'] | default('The impact of physical activity on cognitive decline in older adults') %}
{% set studyID = data['study-id'] | default('BPOR00321') %}
{% set adminName = data['administrator'] | default('Joe Bloggs') %}
{% set updatePreScreenerApprovedStatus = data['update-pre-screener-approved-status'] | default('Approved') %}

{% set updatePreScreenerApprovedStatus %}
  {% if data['update-pre-screener-approved-status'] == "Rejected" %}
    <strong class="nhsuk-tag nhsuk-tag--red">Rejected</strong>
  {% elseif data['update-pre-screener-approved-status'] == "Approved" %}
    <strong class="nhsuk-tag nhsuk-tag--green">Approved</strong>
  {% elseif data['update-pre-screener-approved-status'] == "Closed to volunteers" %}
    <strong class="nhsuk-tag nhsuk-tag--purple">Closed to volunteers</strong>
  {% elseif data['update-pre-screener-approved-status'] == "Complete" %}
    <strong class="nhsuk-tag nhsuk-tag--grey">Complete</strong>
  {% else %}
    <strong class="nhsuk-tag nhsuk-tag--blue">Live</strong>
  {% endif %}
{% endset %}

{% set actions %}
  {% if data['update-pre-screener-approved-status'] == "Rejected" %}
    <p class="nhsuk-hint">No Actions</p>
  {% elseif data['update-pre-screener-approved-status'] == "Approved" %}
    <p><a href="update-pre-screener-approved-status">Change status</a></p><p><a href="copy-link">Copy link</a></p><p><a href="overview">Check pre-screener</a></p>
  {% elseif data['update-pre-screener-approved-status'] == "Closed to volunteers" %}
    <p><a href="update-pre-screener-approved-status">Change status</a></p><p><a href="view-report">Track volunteer contact</a></p>
  {% elseif data['update-pre-screener-approved-status'] == "Complete" %}
    <p class="nhsuk-hint">No Actions</p>
  {% else %}
    <p><a href="update-pre-screener-approved-status">Change status</a></p><p><a href="copy-link">Copy link</a></p><p><a href="overview">Check pre-screener</a></p><p><a href="view-report">Track volunteer contact</a></p>
  {% endif %}
{% endset %}

{% set today = "now" | date("D MMMM YYYY") %}

<h1>View pre-screeners</h1>

{{ table({
  responsive: true,
  panel: false,
  head: [
    { text: 'Study details' },
    { text: 'Researcher name' },
    { text: 'Last updated' },
    { text: 'Status' },
    { text: 'Action' }
  ],
  rows: [
    [
      {
        header: 'Study details',
        html: '<p>' + studyName + '<br><span class="nhsuk-body-s">Study ID: BPOR08011</span></p>'
      },
      {
        header: 'Researcher name',
        text: 'Jane Doe'
      },
      {
        header: 'Last updated',
        html: today
      },
      {
        header: 'Status',
        html: updatePreScreenerApprovedStatus
      },
      {
        header: 'Actions',
        html: actions
      }
    ],
    [
      {
        header: 'Study details',
        html: '<p>Evaluating the role of mindfulness-based stress reduction in managing chronic pain<br><span class="nhsuk-body-s">Study ID: BPOR48372</span></p>'
      },
      {
        header: 'Researcher name',
        text: 'Jane Doe'
      },
      {
        header: 'Last updated',
        text: '28 February 2026'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--green">Approved</strong>'
      },
      {
        header: 'Actions',
        html: '<p><a href="#">Change status</a></p><p><a href="#">Copy link</a></p><p><a href="#">Check pre-screener</a></p>'
      }
    ],
    [
      {
        header: 'Study details',
        html: '<p>The effects of regular exercise on memory and cognitive function<br><span class="nhsuk-body-s">Study ID: BPOR72614</span></p>'
      },
      {
        header: 'Researcher name',
        text: 'Jane Doe'
      },
      {
        header: 'Last updated',
        text: '27 February 2026'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--red">Rejected</strong>'
      },
      {
        header: 'Actions',
        html: '<p class="nhsuk-hint">No Actions</p>'
      }
    ],
    [
      {
        header: 'Study details',
        html: '<p>The effects of sleep quality on cardiovascular health in middle-aged women<br><span class="nhsuk-body-s">Study ID: BPOR19583</span></p>'
      },
      {
        header: 'Researcher name',
        text: 'Jane Doe'
      },
      {
        header: 'Last updated',
        text: '25 February 2026'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--purple">Closed to volunteers</strong>'
      },
      {
        header: 'Actions',
        html: '<p><a href="#">Change status</a></p><p><a href="#">Track volunteer contact</a></p>'
      }
    ],
    [
      {
        header: 'Study details',
        html: '<p>Investigating the relationship between social isolation and depression in adolescents<br><span class="nhsuk-body-s">Study ID: BPOR60427</span></p>'
      },
      {
        header: 'Researcher name',
        text: 'Jane Doe'
      },
      {
        header: 'Last updated',
        text: '24 February 2026'
      },
      {
        header: 'Status',
        html: '<strong class="nhsuk-tag nhsuk-tag--grey">Complete</strong>'
      },
      {
        header: 'Actions',
        html: '<p class="nhsuk-hint">No Actions</p>'
      }
    ]
  ]
}) }}

<p>Showing 5 of 5 result(s)</p>

    </div>
  </div>
{% endblock %}
