<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "Design Dashboard" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-u-reading-width">
      <h1>
        {{ serviceName }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Be Part of Research / Join Dementia Research</span>
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Versions</h2>

    <h3>Researcher</h3>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Account / Dashboard
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--green">DEV</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">...</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        <p><a href="/researcher/v1/">Start Page</a></p>
        <p><a href="/researcher/v1/create-type-of-account">Create an account</a></p>
        <p><a href="/researcher/v1/login-type-of-account">Sign In</a></p>
        <p><a href="/researcher/v1/home">Dashboard</a></p>
        <hr>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "/researcher/v1/user-journey"
        }) }}
      </div>
    </details>
    
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Pre-Screener  
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--green">DEV</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">...</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        <p><a href="/researcher/v1/create-start">Create pre-screener</a></p>
        <p><a href="/researcher/v1/manage-start">Manage pre-screener</a></p>
        <hr>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "/researcher/v1/user-journey"
        }) }}
      </div>
    </details>

    <h3>Admin</h3>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Account / Dashboard
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--green">DEV</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">...</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        <p><a href="/admin/v1">Start Page</a></p>
        <p><a href="/admin/v1/login">Sign In</a></p>
        <p><a href="/admin/v1/login-unsuccessful">Sign In - Unsuccessful</a></p>
        <p><a href="/admin/v1/home">Dashboard</a></p>
        <hr>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "/admin/v1/user-journey"
        }) }}
      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Pre-Screener
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--green">DEV</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">...</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        <p><a href="/admin/v1/home">Dashboard</a></p>
        <hr>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "/admin/v1/user-journey"
        }) }}
      </div>
    </details>

    <h3>Volunteer</h3>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Pre-Screener
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--yellow">UR</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">...</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        <p><a href="/volunteer/v1/email">Invitation Email</a></p>
        <p><a href="/volunteer/v1/study-overview">Study Overview</a></p>
        <p><a href="/volunteer/v1/start">Submit pre-screener</a></p>
        <hr>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "/volunteer/v1/user-journey"
        }) }}
      </div>
    </details>

    <!--
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Study Creation (Researcher)
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--blue">DESIGN</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">
        <h3 class="nhsuk-heading-s">User research</h3>
        <p class="nhsuk-u-font-weight-bold">...</p>
        <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
        <ul>
          <li>...</li>
        </ul>
        <hr>
        {{ button({
          "text": "View prototype",
          "href": "/researcher"
        }) }}
        <br/>
        {{ actionLink({
          classes: "nhsuk-u-margin-bottom-3",
          text: "View user journey",
          href: "https://lucid.app/lucidspark/4a3972cd-e38b-4e75-9400-f82a33fcd769/edit?invitationId=inv_588f937b-1e9a-4248-b06d-e300f3de1c97&page=0_0#",
          openInNewWindow: true
        }) }}
      </div>
    </details>

    <hr/>

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-details__summary-text">
              Archive
            </span>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
            <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
          </div>
        </div>
      </summary>
      <div class="nhsuk-details__text">

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <span class="nhsuk-details__summary-text">
                  Be Part of Research (v0.1)
                </span>
              </div>
              <div class="nhsuk-grid-column-one-third nhsuk-u-text-align-right">
                <strong class="nhsuk-tag nhsuk-tag--red">RETIRED</strong>
              </div>
            </div>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="nhsuk-heading-s">User research</h3>
            <p class="nhsuk-u-font-weight-bold">...</p>
            <h3 class="nhsuk-heading-s">Changes from previous iteration</h3>
            <ul>
              <li>...</li>
            </ul>
            <hr>
            {{ button({
              "text": "View prototype",
              "href": "#"
            }) }}
          </div>
        </details>

      </div>
    </details>

    <hr/>

    {{ actionLink({
    text: "View Design Decision Log (opens in a new window)",
    href: "https://nihr.atlassian.net/wiki/spaces/BBP/database/1878786051",
    openInNewWindow: true
    }) }}
    
  -->

  </div>

  <div class="nhsuk-grid-column-one-third key-padding-left">
      <h3>Key</h2>
      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--blue  nhsuk-u-font-size-14">DESIGN</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are still being designed</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-font-size-14">UR</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently with UR for usability testing</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-font-size-14">DEV</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version are currently in development</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <strong class="nhsuk-tag nhsuk-tag--red  nhsuk-u-font-size-14">RETIRED</strong>
            </td>
            <td class="nhsuk-table__cell nhsuk-u-font-size-14">All or parts of the version have been retired and replaced with new prototypes and Miro boards</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
